html
    head
        title lila preso amanha
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
body

    div.container#home
        div.row.text-center
            div.col-md-12
                h1.head-main Lila preso amanha
                h4.head-sub-main a web novel by @_fransuel

    section.color-white#about
        div.container
            each tweet, i in tweets
                div.row.text-center
                    div.col-md-8.col-md-offset-2
                        span.text !{tweet.text}
                        hr
