html
    head
        title oi
body
    div
        table
            thead
                tr: th Lila Preso Amanah
            tbody
                each tweet, i in tweets
                    tr
                        td
                            span #{tweet.text}
                            hr